{% extends "app/layout/base.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block page %}
<article class="container h-100">
  <div class="row align-items-center justify-content-center h-100">
    <div class="col-sm-11 col-md-8 col-lg-6 col-xl-4">
      <div class="card card-body border-0">
        <h1 class="card-title fw-light">Password Reset</h1>
        <p class="card-subtitle mb-4">We have sent you an email.</p>
        <p>If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.</p>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
      </div>
    </div>
  </div>
</article>
{% endblock page %}
