{% load humanize %}
<div class="card mb-3 border-0">

  {% if activity.images.count %}
  <a href="{% url 'app:activity_detail' activity.slug %}">
    <img src="/media/{{ activity.images.first.file.name }}" class="card-img-top rounded" alt="..." />
  </a>
  {% endif %}
  
  <div class="card-body" style="transform: rotate(0);">

    <h3 class="card-title fs-6 mb-0">
      <a class="stretched-link link-body-emphasis text-decoration-none" href="{% url 'app:activity_detail' activity.slug %}">{{ activity.name }}</a>
    </h3>

  </div>

  <div class="card-footer pt-0 border-0 bg-transparent text-body-secondary small">
    {% if request.resolver_match.url_name == 'hub_detail' %}
    <a class="link-body-emphasis" href="{% url 'app:user_detail' activity.user.username %}">u/{{ activity.user.username }}</a> 
    {% else %}
    {% if activity.hubs.count %}
      <a class="link-body-emphasis" href="{% url 'app:hub_detail' activity.hubs.first.slug %}">h/{{ activity.hubs.first.name }}</a> 
      {% else %}
      <a class="link-body-emphasis" href="{% url 'app:user_detail' activity.user.username %}">u/{{ activity.user.username }}</a> 
      {% endif%}
      {% endif%}
      &bull; 
      <span>{{ activity.likes|intcomma|intword }} likes</span> &bull; <span>{{ activity.timesince }}</span>
  </div>
</div>