{% extends "app/layout/page.html" %}
{% load humanize %}

{% block head_title %}
{{ activity.name }}
{% endblock head_title %}

{% block content %}
<article class="container">
    
  {% if activity.images.count %}
  {% if activity.images.count == 1 %}
  <img src="/media/{{ activity.images.first.file.name }}" class="img-fluid rounded" alt="..." />
  {% else %}
  {% include "app/activity/gallery.html" with activity=activity %}
  {% endif %}
  {% endif %}
    
  <h1 class="fw-light my-5">
    {{ activity.name }}
  </h1>

  {{ activity.body|linebreaks }}
      
  <p>
    <a class="link-body-emphasis" href="{% url 'app:user_detail' activity.user.username %}">u/{{ activity.user.username }}</a> 
    &bull; 
    <span>{{ activity.created_at|naturalday }}</span>
  </p>
  {% if user.is_authenticated %}
  {% if user.is_staff or user.is_administrator or activity.user.username == user.username %}
  <p>
    <a class="link-body-emphasis" href="{% url 'app:activity_detail' activity.slug %}">Edit</a>
    <a class="link-body-emphasis" href="#" hx-delete="{% url 'app:activity_detail' activity.slug %}" hx-confirm="Delete {{activity.name}}?">Delete</a>
  </p>
  {% endif %}
  {% endif %}
      
  <div>
    {% for link in activity.links.all %}
    <a class="btn rounded-circle" href="{{ link.url }}">
      <i class="bi bi-{{link.social|lower}}" style="font-size: 1.5rem;"></i>
    </a>
    {% endfor %}
  
    {% include 'app/activity/partials/like.html' with slug=activity.slug likes=activity.likes %}

    {% for hub in activity.hubs.all %}
    <a class="link-body-emphasis" href="{% url 'app:hub_detail' hub.slug %}">h/{{ hub.name }}</a>
    {% endfor %}
  </div>
  
  {% include 'app/comment/list.html' with comments=activity.comments.all %}

  {% if user.is_authenticated %}
  {% include 'app/comment/form.html' with activity=activity %}
  {% endif %}

</article>
{% endblock content %}