{% extends "app/layout/page.html" %}
{% block head_title %}
{{ hub.name }}
{% endblock head_title %}

{% block content %}
<article class="container">
  
  <h1 class="fw-light mb-5">
    <span class="text-uppercase">{{ hub.name }}</span>
  </h1>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 g-3">
    {% for activity in activities %}
    <div class="col">
    {% include 'app/activity/card.html' with activity=activity %}
    </div>
    {% empty %}
    <div class="col">No actvities here</div>
    {% endfor %}
  </div>

</article>
{% endblock content %}