<div class="mb-3">
  <div class="small">
    <a class="link-body-emphasis" href="{% url 'app:user_detail' comment.user.username %}">u/{{ comment.user.username }}</a> &bull; 
    <small title="{{ comment.created_at }}">
      {{ comment.timesince }}
    </small>
    {% if comment.user == user %}
    {% if comment.can_edit %}
    &bull; 
    <a href="#" class="link-body-emphasis"
      hx-delete="/c/{{ comment.id }}/"
      hx-target="#comments"
    >Delete</a>
    {% endif %}
    {% endif %}
  </div>
  <p class="mb-0">{{ comment.body }}</p>
</div>