<nav class="py-3">
  <div class="container-fluid">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link disabled" href="#">&copy; 2024, All rights reserved.</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About CivicHub</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/policies/privacy">Privacy policy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/policies/content">Content policy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/policies/agreement">User agreement</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/policies/code-of-conduct">Code of conduct</a>
      </li>
    </ul>
  </div>
</nav>