{% extends "app/layout/page.html" %}
{% load static %}
{% block head_title %}
Policies / Content Policy
{% endblock head_title %}
{% block content %}
<article class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h1 class="fw-light mb-5">Content Policy</h1>
      <dl class="row">
        <dt class="col-2">Rule 1</dt>
        <dd class="col-10">Remember the human. Reddit is a place for creating community and belonging, not for attacking marginalized or vulnerable groups of people. Everyone has a right to use Reddit free of harassment, bullying, and threats of violence. Communities and users that incite violence or that promote hate based on identity or vulnerability will be banned.</dd>
        <dt class="col-2">Rule 2</dt>
        <dd class="col-10">Abide by community rules. Post authentic content into communities where you have a personal interest, and do not cheat or engage in content manipulation (including spamming, vote manipulation, ban evasion, or subscriber fraud) or otherwise interfere with or disrupt Reddit communities.</dd>
        <dt class="col-2">Rule 3</dt>
        <dd class="col-10">Respect the privacy of others. Instigating harassment, for example by revealing someone's personal or confidential information, is not allowed. Never post or threaten to post intimate or sexually-explicit media of someone without their consent.</dd>
        <dt class="col-2">Rule 4</dt>
        <dd class="col-10">Do not share or encourage the sharing of sexual, abusive, or suggestive content involving minors. Any predatory or inappropriate behavior involving a minor is also strictly prohibited.</dd>
        <dt class="col-2">Rule 5</dt>
        <dd class="col-10">You don't have to use your real name to use Reddit, but don't impersonate an individual or an entity in a misleading or deceptive manner.</dd>
        <dt class="col-2">Rule 6</dt>
        <dd class="col-10">Ensure people have predictable experiences on Reddit by properly labeling content and communities, particularly content that is graphic, sexually-explicit, or offensive.</dd>
        <dt class="col-2">Rule 7</dt>
        <dd class="col-10">Keep it legal, and avoid posting illegal content or soliciting or facilitating illegal or prohibited transactions.</dd>
        <dt class="col-2">Rule 8</dt>
        <dd class="col-10">Don't break the site or do anything that interferes with normal use of Reddit.</dd>
      </dl>
      <p>We have a variety of ways of enforcing our rules, including, but not limited to</p>
      <ul>
        <li>Asking you nicely to knock it off</li>
        <li>Asking you less nicely</li>
        <li>Temporary or permanent suspension of accounts</li>
        <li>Removal of privileges from, or adding restrictions to, accounts</li>
        <li>Adding restrictions to Reddit communities, such as adding NSFW tags or Quarantining</li>
        <li>Removal of content</li>
        <li>Banning of Reddit communities</li>
      </ul>
    </div>
  </div>
</article>
{% endblock content %}