{% extends "app/layout/page.html" %}

{% block head_title %}
{{ user.get_full_name }}
{% endblock head_title %}

{% block content %}
<article class="">
  <div class="container-fluid">
    <h1 class="fw-light mb-5">
      {{ user }}
    </h1>
    <section>
      <h2 class="fw-light">Contributions</h2>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl4 g-3">
      {% for activity in user.activities.all %}
      <div class="col">
      {% include 'app/activity/card.html' with activity=activity %}
      </div>
      {% endfor %}
      </div>
    </section>
  </div>
</article>
{% endblock %}